<mat-toolbar>
  <div class="items">
    <div class="items--logo">
      <span>KING CARS</span>
    </div>

    <div class="items--menus">
      <span>Carros novos</span>
      <span>Carros usados</span>
    </div>
  </div>
</mat-toolbar>

<div class="home">
  <div class="home--menu">
    <mat-card>
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Busca...</mat-label>
          <mat-icon matPrefix>search</mat-icon>
          <input matInput placeholder="Digite uma marca">
        </mat-form-field>

        <mat-form-field class="teste">
          <mat-label>Marcas</mat-label>
          <mat-select>
            <mat-option>

            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Estado</mat-label>
          <mat-select>
            <mat-option>

            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Marcas</mat-label>
          <mat-select>
            <mat-option>

            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Marcas</mat-label>
          <mat-select>
            <mat-option>

            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Marcas</mat-label>
          <mat-select>
            <mat-option>

            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Marcas</mat-label>
          <mat-select>
            <mat-option>

            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="home--items">
    <div class="home--items--search">
      <mat-card>
        <mat-card-content>Simple card</mat-card-content>
      </mat-card>
    </div>

    <div class="home--items--list">
      <mat-card>
        <mat-card-content>Simple card</mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
