<mat-toolbar>
  <div class="items">
    <div class="items--logo">
      <span>My App</span>
    </div>

    <div class="items--menus">
      <span>menu</span>
      <span>menu</span>
      <span>menu</span>
      <span>menu</span>
    </div>
  </div>
</mat-toolbar>

<div class="home">
  <div class="home--menu">
    <mat-card>
      <mat-card-content>Simple card</mat-card-content>
    </mat-card>
  </div>

  <div class="home--items">
    <div class="home--items--search">
      <mat-card>
        <mat-card-content>Simple card</mat-card-content>
      </mat-card>
    </div>

    <div class="home--items--list">
      <mat-card>
        <mat-card-content>Simple card</mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
